<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <title>more details</title>
  <style>
    .container {
      max-width: 1000px;
      margin: 0 auto;
      text-align: center;
    }

    #showmore {
      margin: 20px;
    }

    tr {
      border: 1px solid black;
    }

    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th {
      border: 1px solid black;
      border-collapse: collapse;
    }

    body {
      background-color: #f9f7ee;
    }

    .pagging-component {
      font-size: 30px;
      display: flex;
      width: 70%;
    }

    i {
      width: 30px;
      height: 30px;
    }

    #more_detail {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <a href="/Dashboard">Go Back to Dashboard</a>
    <h1>24DEV078 JEEL PATEL</h1>
    <h2>serching practice</h2>
    <div>
      <form action="/Dashboard/delimetersearch" method="get">
        <input type="text" name="user_string" placeholder="Enter" tabindex="1" value="<%= user_string %>" />
        <input type="submit" placeholder="go" value="go" tabindex="2" />
      </form>
    </div>
    <table>
      <tr>
        <td>First Name</td>
        <td>_</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>^</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>$</td>
      </tr>
      <tr>
        <td>Date of birth</td>
        <td>}</td>
      </tr>
      <tr>
        <td>profession</td>
        <td>{</td>
      </tr>
      <tr>
        <td>city</td>
        <td>:</td>
      </tr>
    </table>

    <table>
      <tr>
        <th>ID</th>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>

        <th>profession</th>
        <th>city</th>
        <th>dateofbirth</th>
        <th>country</th>
      </tr>
      <% for( let i=0;i < data.length ; i++ ) { %>
        <tr>
          <td>
            <%= data[i].id %>
          </td>
          <td>
            <%= data[i].firstname %>
          </td>
          <td>
            <%= data[i].lastname %>
          </td>
          <td>
            <%= data[i].email %>
          </td>

          <td>
            <%= data[i].profession %>
          </td>
          <td>
            <%= data[i].city %>
          </td>
          <td>
            <%= data[i].dataofbirth %>
          </td>
          <td>
            <%= data[i].country %>
          </td>
        </tr>

        <% } %>
    </table>
  </div>

  <script>
    morefunc = () => {
      document.getElementById("more_detail").style.display = "block";
    };
  </script>
</body>

</html>