<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <title>Document</title>
  <style>
    .pagging-component {
      display: flex;
      font-size: 30px;
      justify-content: space-between;
    }

    .header {
      display: flex;
      align-items: center;
    }

    td {
      border: 1px solid black;
      width: 230px;
      background-color: cadetblue;
    }

    th {
      border: 1px solid black;
      background-color: crimson;
    }

    .table {
      width: 80%;
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <a href="/Dashboard">Back to Dashboard</a>
  <h1>24DEV078 JEEL PATEL</h1>
  <h2>Student Result</h2>
  <div class="header">
    <div class="pagging-component">
      <% if(l>1){ %>
        <a class="fa-solid fa-angles-left" href="/result?p=1"></a>
        <% } %>
          <% if(l>1){ %>
            <a class="fa-solid fa-angle-left" href="/result?p=<%= Number(l)-1 %>"></a>
            <% } %>
              <div>
                <%=l%>
              </div>
              <% if(l>=1 && l<10){ %>
                  <a class="fa-solid fa-angle-right" href="/result?p=<%= Number(l)+1 %> "></a>
                  <% } %>
                    <% if(l>=1 && l<10){ %>
                        <a class="fa-solid fa-angles-right" href="/result?p=20"></a>
                        <% } %>
                          <div>
                            <table>
                              <tr>
                                <th rowspan="2">Student_id</th>
                                <th rowspan="2">Student_name</th>
                                <th colspan="2">Terminal</th>
                                <th colspan="2">Prelim</th>
                                <th colspan="2">Final</th>
                                <th rowspan="2">Total_marks</th>
                                <th rowspan="2">Button</th>
                              </tr>
                              <tr>
                                <th>Practical</th>
                                <th>Theory</th>
                                <th>Practical</th>
                                <th>Theory</th>
                                <th>Practical</th>
                                <th>Theory</th>
                              </tr>



                              <% for(let i=0 ; i< data.length;i +=3) { %>
                                <tr>
                                  <td>
                                    <%= data[i].id %>
                                  </td>
                                  <td>
                                    <%= data[i].firstname %>
                                  </td>

                                  <% for(let j=i;j<i+3;j++) { %>

                                    <td>
                                      <%= data[j].ter_ob_pre %>
                                    </td>
                                    <td>
                                      <%= data[j].ter_ob_the %>
                                    </td>


                                    <% } %>
                                      <td>
                                        <%= arr[count++] %>
                                      </td>
                                      <td><a href="/resultdetails?id=<%= data[i].id %>" id="result" target="_blank">view
                                          details</a></td>

                                </tr>

                                <% } %>

                            </table>
                          </div>

</body>

</html>